<div mat-dialog-title>
    Edit Ticket Time
    <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>

<section mat-dialog-content>


    <div class="col-md-12">
        <form [formGroup]="addEditForm">
                  
         <mat-form-field class="pt-2" appearance="outline">
            <mat-label class="">Edit Ticket Time</mat-label>
            <input matInput  [errorStateMatcher]="matcher" placeholder="18-01-2022 11:26 AM"  formControlName="date_of_create" type="text"   />
            <mat-error *ngIf="addEditForm.controls.date_of_create.hasError('required') && isShowErrors" >Create Time is required</mat-error>
          </mat-form-field>
    
      
    </form>
    </div>
 
</section>
<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
    <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
        Cancel
    </button>
    <button mat-raised-button class="btnnn-prime-fn" (click)="save()">
        Save
    </button>
</div>




